<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/goals/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Daily Carb Goal: </div>
    <div><%= goal.carbsGoal %></div>
    <div>Daily Protien Goal: </div>
    <div><%= goal.proteinGoal %></div>
    <div>Daily Fats Goal: </div>
    <div><%= goal.fatsGoal %></div>
    <div> Daily Calories Goal: </div>
    <div><%= goal.calGoal %></div>
 
    <div>
        <a href="/goals/<%=goal._id%>/edit">
            <button>Edit Food</button>
        </a>
        
        <button onclick="window.location.href='/goals';">Go Back</button>
    </div>
    <form 
        action="/goals/<%= goal._id %>?_method=DELETE" 
        method="POST"
    >
        <button>X</button>
    </form>

  </section>
</main>
  
<%- include('../partials/footer') %>