

<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/foods/choice.css" />

    
 <%- include('../partials/nav') %>

        <main>
            <div>
            <a href="/foods/look" id="lookup" class="choice "<%- title === "Look Up Food Item"%>
                >   
                <i class="fas fa-search" id="hey"></i>
                    Look Up Food Item 
                    
                
            </a>
            <a href="/foods/new" id="manual" class="choice" <%- title === "Manually log Food Item"%>
                >
                
                <i class="fas fa-clipboard-list" id="hey"></i>
                    Manually Log Food Item
                   
             
            </a>
        </div>
        </main>

        <%- include("../partials/footer") %>